In [1]:
# Get today date

# Extract hourly data from today and yesterday

# Convert hourly data into a dataframe

# Preprocess the dataframe
    # Differencing
    
    # Normalization (Use training_mean and training_std)

# Convert the dataset into a Window (Input width = 48)

# Load the AR model

# Predict future output

In [2]:
# Dates
# import datetime as dt
from datetime import datetime, timedelta
import pytz

# REE API request
import requests
import json

# Convert extracted data into dataframe
import pandas as pd

# Extract data in JSON format

In [3]:
def extract_json_data(day):
    URLprices = "https://apidatos.ree.es/es/datos/mercados/precios-mercados-tiempo-real"
    URLdemand = "https://apidatos.ree.es/es/datos/demanda/demanda-tiempo-real"
    URLEmissions = "https://apidatos.ree.es/es/datos/generacion/evolucion-estructura-generacion-emisiones-asociadas"
    
    startHour = "00:00"
    endHour = "23:59"
    
    date_start = str(day.year) + "-" + str(day.month) + "-" + str(day.day) + "T" + startHour
    date_end = str(day.year) + "-" + str(day.month) + "-" + str(day.day) + "T" + endHour
    
    PARAMS = {'start_date':date_start, 'end_date':date_end,"time_trunc":"hour", 'geo_limit': 'peninsular'}
    
    prices = requests.get(url=URLprices, params=PARAMS)
    demands = requests.get(url=URLdemand, params=PARAMS)
    emissions = requests.get(url=URLEmissions, params=PARAMS)
    
    pricesJ = json.dumps(prices.json(), indent=4)
    demandJ = json.dumps(demands.json(), indent=4)
    emissionsJ = json.dumps(emissions.json(), indent=4)
    
    return pricesJ, demandJ, emissionsJ

In [4]:
timezone = pytz.timezone('Europe/Madrid')

today = datetime.now(tz=timezone)
yesterday = today - timedelta(days=1)
day_zero = yesterday - timedelta(days=1)

In [5]:
pricesJ_today, demandJ_today, emissionsJ_today = extract_json_data(today)
pricesJ_yesterday, demandJ_yesterday, emissionsJ_yesterday = extract_json_data(yesterday)
pricesJ_day_zero, demandJ_day_zero, emissionsJ_day_zero = extract_json_data(day_zero)

# Convert json data into 3 different dataframes

In [6]:
type(pricesJ_day_zero)

str

In [7]:
def clean_datetime(timestamp):
    r = timestamp.replace(".000+01:00", "")
    r = r.replace(".000+02:00", "")
    return r

In [8]:
def convert_json_into_dataframe(price_json, demand_json, emissions_json):
    
    df_price = pd.DataFrame(columns=['timestamp', 'price'])
    df_demand = pd.DataFrame(columns=['timestamp', 'demand'])
    df_emissions = pd.DataFrame(columns=['timestamp', 'emissions'])
    
    # Generate price dataframe
    price_json = json.loads(price_json)
    prices_values = price_json['included'][0]['attributes']['values']
    for price_value in prices_values:
        row = {'timestamp': price_value['datetime'],
                   'price': price_value['value']}
        df_price = df_price.append(row, ignore_index=True)
        
    # Generate demand dataframe
    demand_json = json.loads(demand_json)
    demand_values = demand_json['included'][0]['attributes']['values']

    for demand_value in demand_values:
        row = {'timestamp': demand_value['datetime'],
                   'demand': demand_value['value']}
        df_demand = df_demand.append(row, ignore_index=True)
    
    # Generate emissions dataframe
    emissions_json = json.loads(emissions_json)
    emissions_values = emissions_json['included'][0]['attributes']['values']

    for emissions_value in emissions_values:
        row = {'timestamp': emissions_value['datetime'],
                'emissions': emissions_value['value']}
        df_emissions = df_emissions.append(row, ignore_index=True)
    
    
    df_merged = df_price.merge(df_demand, on='timestamp', how='inner')
    
    df_emissions['timestamp'] = df_price['timestamp']
    df_merged = df_merged.merge(df_emissions, on='timestamp', how='inner')
    
    df_merged['timestamp'] = df_merged['timestamp'].apply(clean_datetime)
    
    # Separate two columns by " "
    df_merged[['date', 'time']] = df_merged['timestamp'].str.split('T', expand=True)
    
    df_merged = df_merged.drop(columns=['timestamp'], axis=1)
    
    return df_merged

In [9]:
# day_zero
df_final = convert_json_into_dataframe(pricesJ_day_zero, demandJ_day_zero, emissionsJ_day_zero)

# yesterday
df_yesterday = convert_json_into_dataframe(pricesJ_yesterday, demandJ_yesterday, emissionsJ_day_zero)
# Repetimos las emisiones del d√≠a cero
df_final = pd.concat([df_final, df_yesterday], ignore_index=True)


# today
df_today = convert_json_into_dataframe(pricesJ_today, demandJ_today, emissionsJ_day_zero)
df_final = pd.concat([df_final, df_today], ignore_index=True)

In [11]:
df_final.tail()

     price demand  emissions        date      time
59  192.64  25907  22396.937  2022-02-13  11:00:00
60  193.32  26280  23472.358  2022-02-13  12:00:00
61  157.18  26304  23509.496  2022-02-13  13:00:00
62   99.30  27185  22799.262  2022-02-13  14:00:00
63  126.88  25981  22183.012  2022-02-13  15:00:00

In [13]:
df_today.tail()

     price demand  emissions        date      time
11  192.64  25907  22396.937  2022-02-13  11:00:00
12  193.32  26280  23472.358  2022-02-13  12:00:00
13  157.18  26304  23509.496  2022-02-13  13:00:00
14   99.30  27185  22799.262  2022-02-13  14:00:00
15  126.88  25981  22183.012  2022-02-13  15:00:00

In [10]:
# df_final.to_csv('delete.csv')